registry=https://packages.aliyun.com/646dc01d9cb92c7ff9ac1de7/npm/npm-registry/
//packages.aliyun.com/646dc01d9cb92c7ff9ac1de7/npm/npm-registry/:always-auth=true
//packages.aliyun.com/646dc01d9cb92c7ff9ac1de7/npm/npm-registry/:email="youremail@email.com"
//packages.aliyun.com/646dc01d9cb92c7ff9ac1de7/npm/npm-registry/:_auth="NjQ2ZGMwMTVmMjUyN2FlYTY5ZTdiNjdhOjZBKGpZdkhQNlZNZw=="