$primary-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;

$color-text-primary: #303133;
$color-border-primary: #DCDFE6;


$placeholder-color: #c0c4cc;
$disabled-border-color: #e4e7ed;
$disabled-bg-color: #f5f7fa;
