$breakpoints: (
		'phone' : (320px, 480px),
		'pad' : (481px, 768px),
		'pc' : (769px, 1024px)
);

@mixin respond-to($name) {
	$bp: map-get($breakpoints, $name);

	@if type-of($bp)=='list' {
		$min: nth($bp, 1);
		$max: nth($bp, 2);

		@media (min-width: $min) and (max-width: $max) {
			@content;
		}
	}
}


